@page "/about/minecraftchest1"

<h1>Minecraftchest1</h1>

@code{
    private Uri uri = libravatarsharp.AvatarUri.FromEmail( "minecraftchest1@outlook.com" );
}

 <div class="icon">
    <img src="@uri">
 </div>

I am Minecraftchest1
